{% extends 'JaiUneIdeeSiteBundle::layout_email.html.twig' %}

{% block body %}
    Bonjour,
    <br />
    <br />
    {% if news|length>0%}
        Du nouveau sur J'ai Une Idée : 
        <ol>
        {% for new in news %}
            <li>
                <h3>{{new.publicationDate|localizeddate('full', 'none') | capitalize}} - {{new.publicationDate|localizeddate('none', 'short')}}</h3>
                <p>
                    {{new.content | nl2br}}
                </p>
            </li>
        {% endfor%}
        </ol>
    {% endif %}
    
    {% if idees|length>0%}
        Voici les idées qui ont été créées depuis hier sur J'ai Une Idée.
        <ol>
        {% for idee in idees %}
            <li><a href="{{ url('JaiUneIdeeSiteBundle_idee_show', { 'id': idee.id, 'slug': idee.slug }) }}">{{idee}}</a></li>
        {% endfor%}
        </ol>
    {% endif %}
    <br />
    Bonne journée, <br />
    L'équipe J'ai Une Idée.
    <br />
    <a href="{{ url('JaiUneIdeeSiteBundle_homepage')}}">{{ url('JaiUneIdeeSiteBundle_homepage')}}</a>
    
    <br />
    <br />
    Vous pouvez vous désabonner sur votre <a href="{{ url('fos_user_profile_edit')}}">compte</a>.
{% endblock %}