{% extends 'JaiUneIdeeSiteBundle::layout_2_col.html.twig' %}

{% block title %}{{ idee.title }}{% if page>1 %} (page {{ page }}) {% endif %} {% endblock %}
{% block descriptionSite %}{{idee.description}}{% endblock %}
{% block javascript %}
    {{ parent() }}
<script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id))
            return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=111388102225960";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
{% endblock %}
{% block mainCol %}
    {% if idee.isPublished==false %}
        {% if idee.isRemoved==false %}
            <div>		
                Attention, votre idée n'est pas encore publiée, elle est surement en attente de validation de la part de l'équipe d'administration.
            </div>
        {% else %}
            <div>		
                Cette idée a été suprimée par un administrateur. Si vous n'êtes pas d'accord avec cette décision, vous pouvez nous contacter par la page de contact. La raison la plus courante est qu'elle ne respectait pas la charte du site. 
                <br /><br />
            </div>
        {% endif %}
    {% endif %}
    <div class="idee_body box">
        <header class="idee_titre ellipsis gradient2">
            {{ idee.title }}
        </header>
        <div class="box_left">
            <a href="{{ path('user_profile', { 'user_id': idee.user.id, 'username':idee.user}) }}">
                {% if(idee.user.avatar) %}
                        <img src="{{image('upload/' ~ idee.user.id ~'/' ~ idee.user.avatar).cropResize(120,120)}}" alt="avatar de {{ idee.user|capitalize }}" title="avatar de {{ idee.user|capitalize }}" class="avatar" />
                {% else %}
                        <img src="{{asset('images/avatar_default.png')}}" alt="avatar de {{ idee.user|capitalize }}" title="avatar de {{ idee.user|capitalize }}" class="avatar" />
                {% endif %}
                {{ idee.user|capitalize }}
            </a>
            <br />
            {% if idee.isModerated == false %}
                {% if is_granted('ROLE_USER') %}
                    {% if moderationExistant[0] is defined %}
                        <img src="{{asset('images/inspection.png')}}" alt="Inspection en cours" title="Inspection en cours" class="action"/>
                    {% else %}
                        <a href="{{ path('JaiUneIdeeSiteBundle_idee_moderate', { 'id': idee.id }) }}">
                            <img src="{{asset('images/alert.png')}}" alt="Signaler l'idée" title="Signaler l'idée" class="action" />
                        </a>
                    {% endif %}
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <br />
                    l'idée a {{ idee.life }} PV<br />
                    <a href="{{ path('JaiUneIdeeSiteBundle_idee_admin_validate', { 'id': idee.id })}}" class="lien_visible">Approuver l'idée</a><br />
                    <a href="{{ path('JaiUneIdeeSiteBundle_idee_admin_moderate', { 'id': idee.id }) }}" class="lien_visible">Refuser l'idée</a><br />
                {% endif %}
            {% else %}
                <img src="{{asset('images/valid.png')}}" alt="Idée conforme à la charte" title="Idée conforme à la charte" class="action" />  
            {% endif %}
            <a href="{{ path('JaiUneIdeeSiteBundle_idee_edit', { 'id': idee.id }) }}" class="lien_visible">Editer</a>
            
        </div>
        <div class="box_content">
            <h2>{{ idee.description }} </h2>
            <p>{{ idee.content|nl2br }}</p>
        </div>
    </div>
    <div class="idee_commentaires_liste">
        {% render(controller('JaiUneIdeeSiteBundle:Idee:listeCommentaire' , { 'idee_id': idee.id, 'page': page  })) %}
    </div>
        <br />
    {% if is_granted('ROLE_USER') %}
        {% render(controller('JaiUneIdeeSiteBundle:Idee:newComment',{ 'idee_id': idee.id })) %}
    {% else %}
        Désolé, vous devez être identifié pour répondre à cette idée.
    {% endif %}
{% endblock %}
{% block secondCol %}
<div class="box">
    <header class="gradient2">
        Informations
    </header>
    <div class="body">
        <h3>Détails</h3>
        <ul>
            <li><u>Postée le :</u> {{ idee.createdAt|date('d/m/Y') }} à {{ idee.createdAt|date('H:i:s') }}</li>
            {%  if(idee.createdAt != idee.updatedAt) %}
            <li><u>Modifiée le :</u> {{ idee.updatedAt|date('d/m/Y') }} à {{ idee.updatedAt|date('H:i:s') }}</li>
            {% endif %}
            <li><u>Zone(s) concernée(s) :</u> {{ idee.localisations|join(', ') }}</li>
            <li><u>Thème :</u> {{ idee.theme }}
       </ul>
        <br />
        <span id="bloc_votes">
    {% include "JaiUneIdeeSiteBundle:Idee:votes.html.twig" %}
        </span>
    {% if is_granted('ROLE_USER') %}
        <hr />
        <h3>Abonnement</h3>
        {% if(alerteIdee is null or alerteIdee.activated == false ) %}
            <a href="{{ path('JaiUneIdeeSiteBundle_alerte_activer', { 'idee_id': idee.id}) }}" >Activer les alertes</a>
        {% else %}
            <a href="{{ path('JaiUneIdeeSiteBundle_alerte_desactiver', { 'idee_id': idee.id}) }}" >Désactiver les alertes</a>
        {% endif %}

        <br />
        <br />
    {% endif %}
        <hr />
        <h3>Partager l'idée</h3>
        <div id="fb-root"></div>
        <div class="fb-like" data-send="true" data-width="200" data-show-faces="false"></div>
        <br />
        <a href="https://twitter.com/share" class="twitter-share-button" data-text="#jaiuneidee {{idee.title}}" data-lang="fr">Tweeter</a>
        <script>!function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (!d.getElementById(id)) {
                    js = d.createElement(s);
                    js.id = id;
                    js.src = "//platform.twitter.com/widgets.js";
                    fjs.parentNode.insertBefore(js, fjs);
                }
            }(document, "script", "twitter-wjs");</script>
        <br />
        <br />
        <hr />
        <h3>Ce qu'en pensent vos hommes politiques</h3>
        {% if is_granted('ROLE_CANDIDAT') %}
            Mon avis : 
            <a href="{{ path('JaiUneIdeeSiteBundle_elu_action', { 'type': 'jaime', 'idee_id':idee.id}) }}"><img src="{{asset('images/jaime.png')}}" alt="J'aime l'idée" title="J'aime l'idée" class="action_url" /></a>
            <a href="{{ path('JaiUneIdeeSiteBundle_elu_action', { 'type': 'jenaimepas', 'idee_id':idee.id}) }}"><img src="{{asset('images/jenaimepas.png')}}" alt="Je n'aime pas l'idée" title="Je n'aime pas l'idée" class="action_url" /></a>
            <a href="{{ path('JaiUneIdeeSiteBundle_elu_action', { 'type': 'jemengage', 'idee_id':idee.id}) }}"><img src="{{asset('images/jemengage.png')}}" alt="Je m'engage à mettre en place l'idée" title="Je m'engage à mettre en place l'idée" class="action_url" /></a>
        {% endif%}
        {% if is_granted('ROLE_ELU') %}
            <a href="{{ path('JaiUneIdeeSiteBundle_elu_action', { 'type': 'jairealise', 'idee_id':idee.id}) }}"><img src="{{asset('images/jairealise.png')}}" alt="J'ai réalisé l'idée" title="J'ai réalisé l'idée" class="action_url" /></a>
        {% endif%}
        <ul>
            {% for action in idee.getActionsElus() %}
                <li>
                    <a href="{{ path('user_profile', { 'user_id': action.user.id, 'username':action.user}) }}">
                        {% if(action.user.avatar) %}
                                <img src="{{ image('upload/' ~ action.user.id ~'/' ~ action.user.avatar).cropResize(120,120)}}" alt="avatar" title="avatar de {{ action.user|capitalize }}" class="avatar_elu" />
                        {% else %}
                                <img src="{{asset('images/avatar_default.png')}}" alt="avatar" title="avatar de {{ action.user|capitalize }}" class="avatar_elu" />
                        {% endif %}
                        {{ action.user|capitalize }}
                    </a>
                    
                    {% if action.jenaimepas %}
                        <img src="{{asset('images/jenaimepas.png')}}" alt="Je n'aime pas l'idée" title="{{ action.user|capitalize }} n'aime pas l'idée depuis le {{ action.dateJenaimepas|date('d/m/Y') }} à {{ action.dateJenaimepas|date('H:i:s') }}" class="action_tag" />
                    {% endif%}
                    {% if action.jairealise %}
                        <img src="{{asset('images/jairealise.png')}}" alt="J'ai réalisé l'idée" title="{{ action.user|capitalize }} a mis en place l'idée le {{ action.dateJairealise|date('d/m/Y') }} à {{ action.dateJairealise|date('H:i:s') }}" class="action_tag" />
                    {% endif%}
                    {% if action.jemengage %}
                        <img src="{{asset('images/jemengage.png')}}" alt="J'aime l'idée" title="{{ action.user|capitalize }} s'est engagé le {{ action.dateJemengage|date('d/m/Y') }} à {{ action.dateJemengage|date('H:i:s') }} à réaliser l'idée" class="action_tag" />
                    {% endif%}
                    {% if action.jaime %}
                        <img src="{{asset('images/jaime.png')}}" alt="J'aime l'idée" title="{{ action.user|capitalize }} aime l'idée depuis le {{ action.dateJaime|date('d/m/Y') }} à {{ action.dateJaime|date('H:i:s') }}" class="action_tag" />
                    {% endif%}
                </li>
            {% endfor %}
        </ul>
        {% if is_granted('ROLE_CANDIDAT') or is_granted('ROLE_ADMIN') %}
        <br />
        <br />
        <hr />
        <h3>Statistiques</h3>
        <a href="{{ path("JaiUneIdeeSiteBundle_stat_idee",{ 'idee_id': idee.id }) }}">Lien vers les statistiques</a>
        {% endif%}
        
    </div>
    <footer></footer>
</div>
{% endblock %}