<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html" charset=utf-8" />
        <meta http-equiv="Content-Language" content="fr-FR" />
        <link rel="canonical" href="{{ app.request.schemeAndHttpHost }}" />
        <title>{% block title %}Accueil{% endblock %} - J'ai Une Idee</title>
        <meta name="description" content="{% block descriptionSite %}Site de démocratie participative permettant de proposer des idées locales ou nationales.{% endblock %}">
        <meta name="keywords" content="démocratie, participative, edemocratie, e-democratie, democratie participative, consultation, concertation, idée, échange, opinion, commentaire, débat, vote, elections, élu, citoyen, participation, participer, debattre" />
        {% block javascript %}
        <!--[if lt IE 9]>
            <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        
        <script src="//code.jquery.com/jquery-1.8.2.min.js"></script>
        {#
        <script src="{{ asset('js/jquery-1.8.2.min.js') }}"></script>
        #}
        {#
        <script src="{{ asset('js/jquery.validate.min.js') }}"></script>
        <script src="{{ asset('js/messages_fr.js') }}"></script>
        <script src="{{ asset('js/tokeninput.js') }}"></script>
        <script src="{{ asset('js/msdropdown/jquery.dd.min.js') }}"></script>
        #}
        {% javascripts 'js/jquery.validate.min.js'
                    'js/messages_fr.js'
                    'js/tokeninput.js'
                    'js/msdropdown/jquery.dd.min.js'
                output='js/compiled/lib.js' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% endblock %}
        {% block stylesheets %}
            {% stylesheets 'css/token-input.css'
                    'css/token-input-facebook.css'
                    'css/msdropdown/dd.css'
                    'css/jaiuneidee.css'
                output='css/compiled/jaiuneidee.css'
                %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
            
            {%if app.session.get("localisation_css") is not null%}
                <link rel="stylesheet" href="/css/localisations/{{app.session.get("localisation_css")}}" />
            {% endif %}
                
        {% endblock %}
        {#
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        #}
        <meta property="fb:admins" content="100005771354609" />
        <link href="https://plus.google.com/u/0/b/118203067427668607877/118203067427668607877/" rel="publisher" />
    </head>
    <body>
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/fr_FR/all.js#xfbml=1";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
            
        <section id="wrapper">
            <header id="header">
                {% block login %}{% endblock %}
                <div id="promo_elu">
                    <a href="{{ path('JaiUneIdeeSiteBundle_contact') }}">
                        <span>Candidats ou Elus ? </span>
                        <br /> Contactez-nous pour un <br />compte avancé !
                    </a>
            	</div>
                <hgroup>
                    <a href="{{ path('JaiUneIdeeSiteBundle_homepage') }}">
                      <h1 class="accessibilite">J'ai Une Idée
                      {%if app.session.get("localisation") is not null%}
                          {{app.session.get("localisation_name")}}
                      {% endif %}
                      </h1>
                      <img class="logo" src="/images/logo_orange.png" alt="J'ai Une Idée" title="J'ai Une Idée"/>
            	    </a>
                    <h2>  
                      {% block blog_tagline %}
                          {%if app.session.get("localisation") is not null%}
                              {{app.session.get("localisation_name")}}
                          {% else %}
                              La&nbsp;démocratie&nbsp;participative&nbsp;autrement
                          {% endif %}
                      {% endblock %}
                    </h2>
                </hgroup>
                <div id="bandeau" class="separation gradient2">
                    {% block bandeau %}{% endblock %}
                </div>
            </header>
            <section id="body">
                {% block body %}{% endblock %}
            </section>
        </section>
        <footer id="footer" class="">
            <div class="separation gradient2">
            </div>
            {% block footer %}
                {%if app.session.get("localisation_footer") is not null%}
                    {{app.session.get("localisation_footer")|raw}}
                {% else %}
                <div class="citation">
                    <span>"Les grands esprits discutent des idées, les esprits moyens discutent des événements, les petits esprits discutent des gens."</span> Eleanor Roosevelt
                </div>
                Vous&nbsp;avez&nbsp;une&nbsp;idée&nbsp;?&nbsp;Parlons-en&nbsp;!<br /><br />
                {% endif %}
                <a href="{{ path('JaiUneIdeeSiteBundle_charte') }}">Charte</a> - <a href="{{ path('JaiUneIdeeSiteBundle_contact') }}">Contact</a>
            {% endblock %}
        </footer>

        {% block javascripts %}{% endblock %}
    </body>
</html>