{# src/JaiUneIdee/SiteBundle/Resources/views/layout.html.twig #}
{% extends '::base.html.twig' %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('bundles/jaiuneideesite/js/siteBundle.js') }}"></script>
    <script src="{{ asset('bundles/jaiuneideelocalisation/js/localisationBundle.js') }}"></script>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/jaiuneideesite/css/blog.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block login  %}
    <div id="login">
    {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        {% if not ("login" in app.request.requesturi)%}
            {% render(controller("FOSUserBundle:Security:login")) %}
        {% endif %}
    {%else %}
        <a href="{{ path('avatar') }}">
        {% if (app.user.avatar)%}
            <img src="{{asset('upload/' ~ app.user.id ~'/' ~ app.user.avatar)}}"  class="avatar" alt="avatar" />
        {% else %}
            <img src="{{asset('images/avatar_default.png')}}" alt="avatar" class="avatar" />
        {% endif %}
        </a>
        <li><a href="{{ path('invitation_new') }}">Inviter un ami</a></li>
        <li><a href="{{ path('fos_user_profile_edit') }}">Mon compte</a></li>
        <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
    {% endif %}
    </div>
{% endblock %}

{% block javascripts %}{% endblock %}