{# src/JaiUneIdee/SiteBundle/Resources/views/layout.html.twig #}
{% extends '::base.html.twig' %}
{% block javascript %}
    {{ parent() }}
    {% javascripts '@JaiUneIdeeSiteBundle/Resources/public/js/*'
                '@JaiUneIdeeLocalisationBundle/Resources/public/js/*' 
            output='js/compiled/main.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{#
{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('bundles/jaiuneideesite/js/siteBundle.js') }}"></script>
    <script src="{{ asset('bundles/jaiuneideelocalisation/js/localisationBundle.js') }}"></script>
{% endblock %}
#}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/jaiuneideesite/css/blog.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block login  %}
    <div id="login">
    {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        {% if not ("login" in app.request.requesturi)%}
            {% render(controller("FOSUserBundle:Security:login")) %}
        {% endif %}
    {%else %}
        <a href="{{ path('avatar') }}">
        {% if (app.user.avatar)%}
            <img src="{{image('upload/' ~ app.user.id ~'/' ~ app.user.avatar).cropResize(120,120)}}"  class="avatar" alt="avatar" />
        {% else %}
            <img src="{{asset('images/avatar_default.png')}}" alt="avatar" class="avatar" />
        {% endif %}
        </a>
    <ul>
        <li><a href="{{ path('invitation_new') }}">Inviter un ami</a></li>
        <li><a href="{{ path('fos_user_profile_edit') }}">Mon compte</a></li>
        {% if is_granted('ROLE_ADMIN') %}
            <li><a href="{{ path('sonata_admin_dashboard') }}">Admin</a></li>
            <li><a href="{{ path('JaiUneIdeeSiteBundle_statistiques_index') }}">Stats</a></li>
            <li><a href="{{ path('message') }}">Mes messages</a></li>
            <li><a href="{{ path('JaiUneIdeeSiteBundle_idees_moderation_admin') }}">Idées à modérer 
                ({% render(controller("JaiUneIdeeSiteBundle:Idee:countModeration" ))%})
                </a></li>
            <li><a href="{{ path('JaiUneIdeeSiteBundle_commentaires_moderation_admin') }}">Commentaires à modérer
                ({% render(controller("JaiUneIdeeSiteBundle:Idee:countModerationCommentaire" ))%})
                </a>
                </li>
        {% endif %}
        <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
        </ul>
    {% endif %}
    </div>
{% endblock %}

{% block javascripts %}{% endblock %}