
    <hr />
    <h3>Votes ({{votes["total"]}})</h3>
    <div class="vote_graph">
        {% if votes["total"]>0 %}
            <div class="bar pour" style="width:{{ votes["pourcent_1"] }}%;">{{ votes["pourcent_1"] }}%</div>
            <div class="bar blanc" style="width:{{ votes["pourcent_0"] }}%;">{{ votes["pourcent_0"] }}%</div>
            <div class="bar contre" style="width:{{ votes["pourcent_-1"] }}%;">{{ votes["pourcent_-1"] }}%</div>
        {% else %}
            <div class="bar" style="width:100%;">Pas encore de votes</div>
        {% endif %}
    </div> 
    <br />
    {% if is_granted('ROLE_USER') %}
        <span>
            {% if voteExistant.note is defined %}
                <span><img src="/images/pouce_vert" alt="Pour" title="Pour" class="idee_vote {{ (voteExistant.note == 1)?'mon_vote':'gris' }}" /></span>
                <span><img src="/images/pouce_orange" alt="Neutre" title="Neutre" class="idee_vote {{ (voteExistant.note == 0)?'mon_vote':'gris' }}" /></span>
                <span><img src="/images/pouce_rouge" alt="Neutre" title="Neutre"  class="idee_vote {{ (voteExistant.note == -1)?'mon_vote':'gris' }}" /></span>
                <span><a class="" href="{{ path('JaiUneIdeeSiteBundle_vote_cancel', { 'idee_id': idee.id}) }}"><img src="/images/undo-30.png" alt="Annuler mon vote" class="idee_vote" /></a></span>
                    {% else %}
                <a class="" href="{{ path('JaiUneIdeeSiteBundle_vote_vote', { 'idee_id': idee.id, 'note': "1" }) }}"><img src="/images/pouce_vert.png" alt="Voter pour" title="Voter pour"class="idee_vote" /></a>
                <a class="" href="{{ path('JaiUneIdeeSiteBundle_vote_vote', { 'idee_id': idee.id, 'note': "0" }) }}"><img src="/images/pouce_orange.png" alt="Sans avis - Neutre" title="Sans avis - Neutre" class="idee_vote" /></a>
                <a class="" href="{{ path('JaiUneIdeeSiteBundle_vote_vote', { 'idee_id': idee.id, 'note': "-1" }) }}"><img src="/images/pouce_rouge.png" alt="Voter contre" title="Voter contre" class="idee_vote" /></a>
                {% endif %}
        </span>
        <br />
        <br />
    {% else %}
        Désolé, vous devez être identifié pour voter.
    {% endif %}