{% extends 'JaiUneIdeeSiteBundle::layout_1_col.html.twig' %}

{% block title %}Statistiques{% endblock%}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/jqplot/jquery.jqplot.css') }}" />
{% endblock %}

{% block mainCol %}
	<h1>Stats</h1>
            {%for key,value in tabStatsJson%} 
                 <div id="{{key}}"></div>
            {%endfor%}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <!--[if lt IE 9]><script type="text/javascript" src="{{ asset('js/jqplot/excanvas.js') }}"></script><![endif]-->
    <script type="text/javascript" src="{{ asset('js/jqplot/jquery.jqplot.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jqplot/plugins/jqplot.highlighter.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jqplot/plugins/jqplot.cursor.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jqplot/plugins/jqplot.dateAxisRenderer.min.js') }}"></script>
    <script type="text/javascript">
        jQuery(document).ready(function() {
            {%for key,value in tabStatsJson%} 
            var plot1 = $.jqplot('{{key}}', [
                    {{value.json|raw}}
                            ], {
                title:"{{value.title}}",
                axes:{
                  xaxis:{
                    renderer:$.jqplot.DateAxisRenderer,
                    tickOptions:{
                        formatString:'%b&nbsp;%#d'
                    }
                  },
                  yaxis:{
                  }
                },
                highlighter: {
                  show: true,
                  sizeAdjust: 7.5
                },
                cursor: {
                  show: false
                }
            });
            {%endfor%}
            
        });
    </script>
{% endblock %}