
<ol>
{% for idee in idees %}

    {% if ideesLues[idee.id] is defined %}
        {% set lueClass = "dejaLu" %}
    {% else %}
        {% set lueClass = "" %}
    {% endif %}
    <li class="index_idee {{lueClass}} box">
        <a class="idee" href="{{ path('JaiUneIdeeSiteBundle_idee_show', { 'id': idee.id, 'slug': idee.slug }) }}" alt="{{ idee.title}}" title="{{ idee.title}}">
            <header class="separation"></header>
            <div class="index_idee_theme">
                <img src="/images/themes/{{ idee.theme|lower }}.png" alt="{{ idee.theme }}" title="{{ idee.theme }}"/>
            </div>
            <div class="index_idee_commentaire">
                {{ idee.countCommentaires }} commentaires
            </div>
            {% if votes[idee.id]["total"]>0 %}
                <div class="vote_graph">
                    <div class="bar pour" style="width:{{ votes[idee.id]["pourcent_1"] }}%;">{{ votes[idee.id]["pourcent_1"] }}%</div>
                    <div class="bar blanc" style="width:{{ votes[idee.id]["pourcent_0"] }}%;">{{ votes[idee.id]["pourcent_0"] }}%</div>
                    <div class="bar contre" style="width:{{ votes[idee.id]["pourcent_-1"] }}%;">{{ votes[idee.id]["pourcent_-1"] }}%</div>
                </div>
            {% endif %}
            <div class="index_idee_body">
                <h3>{{ idee.title }}</h3>
                <div class="ellipsis">
                    {{ idee.description|striptags }}
                </div>
            </div>
        </a>
    </li>
{% else %}
    <br />
    <p>Il n'y a pas encore d'idées insérées qui correspondent à vos critères. 
    <br />Soyez le premier à en <a href="{{ path('JaiUneIdeeSiteBundle_idee_ajouter') }}">crééer</a> une.
    </p>
{% endfor %}
</ol>
{% if pager.haveToPaginate %}
    <div class="pagerfanta">
    {{ pagerfanta(pager, 'default_translated', options_pager) }}
    </div>
{% endif %}